
<footer id="footer" class="footer bg-white">

    <div class="footer-inner inner box-flex pt-600 pb-600">

        <p class="color-primary text-400">© 2021 {{ site.name }}</p>

        {% include 'components/social-icons.njk' %}

    </div>

</footer>

