<div class="footer-wrapper">

    <footer id="footer" class="footer bg-gray-200">

        <div class="footer-inner container m-auto md:flex justify-between items-center px-6 py-10">

            <p class="text-purple-900 pb-8 md:pb-0">© 2020 Skeleventy: A skeleton boilerplate built with <a href="https://www.11ty.io/">Eleventy.</a></p>

            {% include 'components/social-icons.njk' %}

        </div>

    </footer>

</div>
