<header id="header" class="header bg-purple-darkest flex flex-col md:flex-row md:justify-between items-center px-8 pt-6 pb-10 md:pb-32">
	{% include "components/logo.njk" %}
	{% include 'components/nav.njk' %}
</header>
