<header id="header" class="header bg-purple-darkest flex flex-col md:flex-row md:justify-between items-center p-8 border-b border-purple-darker">
	{% include "components/logo.njk" %}
	{% include 'components/nav.njk' %}
</header>
