<header id="header" class="header bg-purple-900 flex flex-col md:flex-row md:justify-between items-center p-4 md:p-6">

	{% include "components/logo.njk" %}
	{% include 'components/nav.njk' %}

</header>
