

    <nav id="nav" class="nav hidden sm:flex sm:items-center sm:w-auto w-full mt-2 sm:mt-0">

        <ul class="menu sm:flex items-center justify-between list-reset text-base">

            {% for item in navigation.main %}

            <li class="level-1 mb-4 sm:mr-4 sm:mb-0">

                <a href="{{ item.url | safe }}" class="link font-bold text-white hover:text-pink-500 {% if page.url == item.url %}active text-pink-500{% endif %}
                "{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>

            </li>

            {% endfor %}

            <li>
                <a class="inline-block rounded sm:ml-2 py-3 px-6 text-white font-bold bg-pink-500 hover:bg-white hover:text-pink-500" href="https://github.com/josephdyer/skeleventy" target="_blank" rel="noopener">Download</a>
            </li>

        </ul>
    </nav>
