
{# Twitter #}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ meta_title if meta_title else title }} | {{ site.name }}">
<meta name="twitter:description" content="{{ meta_description | truncate(140) if meta_description else content | striptags | truncate(140) }}">
<meta name="twitter:site" content="{{ site.author.handle }}">
<meta name="twitter:creator" content="{{ site.author.handle }}">
<meta name="twitter:image:src" content="{{ site.url }}{{ site.images.twitter }}">

{# Open Graph #}
<meta name="og:title" content="{{ meta_title if meta_title else title }} | {{ site.name }}">
<meta name="og:description" content="{{ meta_description | truncate(140) if meta_description else content | striptags | truncate(140) }}">
<meta name="og:image" content="{{ site.url }}{{ site.images.og }}">
<meta name="og:url" content="{{ site.url }}{{ page.url }}">
<meta name="og:site_name" content="{{ site.name }}">
<meta name="og:locale" content="en_GB">
<meta name="og:type" content="website">
