<ul class="flex justify-center">

    {% for icon, link in site.social_links %}

    <li class="mr-4">

        <a href="{{ link | safe }}" class="block text-gray-500 hover:text-pink-500" aria-label="{{ icon | capitalize }}">

            <svg class="block" fill="currentColor" role="img" aria-hidden="true" width="18" height="18">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/icon-library.svg#icon-{{ icon }}"></use>
            </svg>

        </a>

    </li>

    {% endfor %}

</ul>
