
//==========  Typography ==========//

// headings
h1, h2, h3, h4, h5, h6 {
    @apply font-bold leading-tight mt-0 mb-6;
}

// content
.content {

	// paragraph
	p {
		@apply mb-8;

        // intro paragraph
		&.intro {
			@apply border-b border-gray-200 text-2xl pb-10 mb-10 font-light text-gray-500;

			@screen md {
                @apply text-3xl;
            }
		}
    }
}
