
//==========  Utility classes ==========//

.transition {
    transition: 0.25s all ease-out;
}

// don't hide from screen readers
.visually-hidden {
    @apply m-0 p-0 absolute whitespace-no-wrap overflow-hidden h-auto;
    border: 0;
    clip: rect(0 0 0 0);
    width: 1px;
}

// subtle 'fade in' to the lazyloaded image
[data-lazy] {
    @apply opacity-0 w-full;
    transition: opacity 0.25s ease-in;
    min-height: 120px;
}

.loaded {
    @apply opacity-100;
}

// 'container' helper class
.inner {
    @apply w-full max-w-6xl ml-auto mr-auto px-6;
}
