
//==========  Article Card ==========//
.article-card {

    .featured-image-link {

        &:hover {

            .featured-image {
                transform: scale(1.1);
            }
        }

    }

    .featured-image {
        transition: transform 1.5s ease;
    }
}
