---
layout: default
permalink: 404.html
hidden: true
meta_title: 404
meta_description: 404 page description
body_class: 404
title: Oops!
---

<main id="main" class="main container m-auto flex flex-1 flex-col md:flex-row py-10 px-6 lg:px-0 lg:py-20">

    <section id="container-centre" class="flex-1">

        <h1 class="page-title text-5xl">{{ title }}</h1>

        <div class="content">
           <p>Sorry, we can't find that page!</p>
           <p><a href="/">Take me back to the homepage</a></p>
        </div>

    </section>

</main>
