---
layout: default
meta_title: Blog
meta_description: Blog page description
body_class: blog
title: The Skeleventy Blog
---

<main id="main" class="main flex flex-1 flex-col md:flex-row py-10 px-6 lg:px-0 lg:py-20 bg-purple-darkest">

    <section id="container-centre" class="flex-1 container ml-auto mr-auto">

        <h1 class="page-title text-white text-3xl md:text-center md:text-5xl mb-16 lg:mb-24 lg:text-6xl">{{ title }}</h1>

        <div class="posts md:flex flex-1">

            {% for post in collections.blog %}

                <article class="post mb-8 mx-4 flex-1 bg-white rounded-lg overflow-hidden">

                    {# featured post image & category #}
                    {% if post.data.featured_image %}

                    <figure class="relative">

                        <p class="absolute pin-b pin-l bg-pink-dark px-4 py-2 text-white text-xs font-bold rounded m-6">{{ post.data.category }}</p>

                        <img src="{{ post.data.featured_image }}" alt="{{ post.data.image_caption }}" class="block rounded-t-lg">

                    </figure>

                    {% endif %}

                    <div class="p-8">

                        <h2 class="text-3xl mb-6"><a class="block text-purple-darker" href="{{ post.url }}">{{ post.data.title }}</a></h2>

                        <div class="text-sm text-grey-dark md:flex mb-4">

                            <p class="author">By {{ site.author.name }}</p>

                            <p class="hidden md:block px-2">—</p>

                            <time datetime="{{ post.date }}">
                                {{ post.date | dateDisplay }}
                            </time>

                        </div>

                    </div>

                </article>

            {% endfor %}

        </div>

    </section>

</main>


