---
layout: default
meta_title: Blog
meta_description: Blog page description
body_class: blog
title: The Skeleventy Blog
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Blogs">

        <h1 class="page-title text-3xl md:text-center md:text-5xl mb-16 lg:mb-24 lg:text-6xl">{{ title }}</h1>

        <div class="posts lg:flex flex-1">

            {% for post in collections.blog %}

                <article class="article-card mb-8 mx-4 flex-1 bg-white overflow-hidden rounded-lg shadow-lg">

                    {# featured post image & category #}
                    {% if post.data.featured_image %}

                        <a class="featured-image-link block relative overflow-hidden" href="{{ post.url }}">

                            {# category link #}
                            <ul class="absolute bottom-0 left-0 flex p-8 z-10">

                                {% for item in post.data.tags %}

                                    {%- if item != "blog" -%}

                                        <li class="mr-2">

                                            <span class="inline-block bg-pink-500 px-4 py-2 text-white text-xs font-bold rounded">{{ item | capitalize }}</span>

                                        </li>

                                    {%- endif -%}

                                {% endfor %}

                            </ul>

                            <figure>

                                {# the 'data-lazy' attribute will lazy load your images in #}
                                {# the js uses the new Intersection Observer API, see ../modules/lazyload #}
                                {# it's not fully supported in some browsers, so proceed with caution! #}
                                {# the srcset attribute would be a nice addtion here as well...in a future update maybe :) #}
                                <img data-lazy="{{ post.data.featured_image }}" class="block" alt="{{ post.data.image_caption }}">

                            </figure>

                        </a>

                    {% endif %}

                    <div class="p-8">

                        <h2 class="text-2xl mb-6"><a class="block text-purple-900 hover:text-pink-500" href="{{ post.url }}">{{ post.data.title }}</a></h2>

                        <div class="text-sm text-gray-600 md:flex mb-4">

                            <p class="author">By {{ site.author.name }}</p>

                            <p class="hidden md:block px-2">—</p>

                            <time datetime="{{ post.date }}">
                                {{ post.date | dateDisplay }}
                            </time>

                        </div>

                    </div>

                </article>

            {% endfor %}

        </div>

    </section>

</main>


