---
layout: default
meta_title: Contact
meta_description: Contact page description
body_class: contact
title: Contact Us
---

<main id="main" class="main flex flex-1 flex-col md:flex-row py-10 px-6 lg:px-0 lg:py-20">

    <section id="container-centre" class="flex-1 container mx-auto">

        <h1 class="page-title text-5xl">{{ title }}</h1>

        <div class="content">

            <p>Tell us how great we are in the form below.</p>

            <form>
                <div class="mb-4">
                    <label class="block text-purple-900 mb-2" for="name">Name</label>
                    <input class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text">
                </div>

                <div class="mb-4">
                    <label class="block text-purple-900 mb-2" for="email">Email</label>
                    <input class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text">
                </div>

                <div class="mb-4">
                    <label class="block text-purple-900 mb-2" for="message">Message</label>
                    <textarea class="appearance-none border rounded w-full py-2 px-3 h-32 leading-tight focus:outline-none focus:shadow-outline" id="message"></textarea>
                </div>
             
              <div class="mb-4">
                    <button class="inline-block rounded py-4 px-6 text-white font-bold bg-pink-500 hover:bg-pink-600" type="submit">Send message!</button>
              </div>
            </form>

    </section>

</main>
