---
layout: default
meta_title: Contact
meta_description: Contact page description
body_class: contact
title: Contact Us
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">

            <p>Tell us how great we are in the form below.</p>

            <form class="form">

                {# this form doesn't work - it's just a nice boilerplate to get you up and running #}
                {# uses HTML5 validation #}

                {# if you add a class of 'required' to the row, you'll see the label will change to (required) #}
                {# opinionated form UX - but it's nice and quick to see at glance what fields are required/optional #}
                <div class="row required">
                    <label for="name">Name</label>
                    <input class="input" id="name" type="text" name="name" autocomplete="name" required>
                </div>

                <div class="row required">
                    <label for="email">Email</label>
                    <input class="input" id="email" type="text" name="email" autocapitalize="off" autocomplete="email" required>
                </div>

                <div class="row required">
                    <label for="phone">Phone</label>
                    <input class="input" id="phone" type="text" name="phone" autocomplete="tel" required>
                </div>

                {# this field label will show as (optional) as the required class has been left off #}
                <div class="row">
                    <label for="message">Message</label>
                    <textarea class="textarea" id="message" name="message"></textarea>
                </div>
             
                <div class="row">
                    <button class="inline-block rounded py-4 px-6 text-white font-bold bg-pink-500 hover:bg-pink-600" type="submit">Send message!</button>
                </div>

            </form>

    </article>

    {# an optional and basic local business schema example #}
    {# <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "{{ site.name }}",
        "image": "{{ site.url }}{{ site.images.logo }}",
        "url": "{{ site.url }}{{ page.url }}",
        "email": "{{ site.contact.email }}",
        "telephone": "{{ site.contact.phone }}",
        "priceRange": "£",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "{{ site.address.street }}",
            "addressLocality": "{{ site.address.city }}",
            "postalCode": "{{ site.address.postcode }}",
            "addressCountry": "{{ site.address.country }}"
        },
        "sameAs": [
            "{{ site.social_links.twitter }}",
            "{{ site.social_links.facebook }}",
            "{{ site.social_links.instagram }}"
        ]
    }
    </script> #}

</main>

