---
layout: default
meta_title: Home
meta_description: Homepage description
body_class: home
title: Welcome to Skeleventy!
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">
            <p>A skeleton boilerplate built with <a href="https://www.11ty.io">Eleventy</a> and <a href="https://tailwindcss.com">Tailwind CSS</a>.</p>

            <h2 class="text-3xl">Features</h2>

            <ul class="mb-12 list-disc pl-4">
                <li>Tailwind CSS for beautiful and fast UI styling</li>
                <li>Gulp to watch and compile your Tailwind, SCSS &amp; JS files</li>
                <li><a href="https://www.purgecss.com/">Purgecss</a> to remove any unused CSS</li>
                <li>HTML minifier</li>
                <li>A simple blog, with categories and featured images</li>
            </ul>

        </div>

    </section>

</main>


