---
layout: default
meta_description: Category page description
meta_title: Category
body_class: category
title: Category
pagination:
  data: collections
  size: 1
  alias: category
permalink: "/category/{{ category }}/"
hidden: true
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title text-purple-900 text-3xl md:text-center md:text-5xl mb-16 lg:mb-24 lg:text-6xl">{{ title }} — {{ category | capitalize }}</h1>
        </header>

        <div class="posts">

            {% for post in collections[category] %}

                <article class="text-gray-500 mb-8 pb-8 border-b border-gray-200">

                    <h2 class="text-4xl mb-3"><a class="block text-pink-500 hover:text-purple-900" href="{{ post.url }}">{{ post.data.title }}</a></h2>

                    <time datetime="{{ post.date }}">
                        {{ post.date | dateDisplay }}
                    </time>

                </article>

            {% endfor %}
        </div>

    </article>

</main>
