---
layout: base
---

<main id="main" class="main inner box-flex pt-800 pb-1100" tabindex="-1">

    <header class="page-header">

        <h1 class="page-title">{{ title }}</h1>

        {% if sub_heading %}

            <p class="sub-heading">{{ sub_heading }}</p>

        {% endif %}

    </header>

    <div class="content flow">

        {{ content | safe }}

    </div>

</main>
